/* line 1, /Users/cjslade/Dev/www/artursabirov.project/source/stylesheets/styles.sass */
html, body {
  height: 100%; }

/* line 4, /Users/cjslade/Dev/www/artursabirov.project/source/stylesheets/styles.sass */
body {
  font-size: 18px;
  color: #404040;
  font-family: "PT Sans", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

/* line 12, /Users/cjslade/Dev/www/artursabirov.project/source/stylesheets/styles.sass */
p {
  margin-bottom: 1em; }

/* line 15, /Users/cjslade/Dev/www/artursabirov.project/source/stylesheets/styles.sass */
a {
  color: #4064fc;
  text-decoration: none;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s; }

/* line 22, /Users/cjslade/Dev/www/artursabirov.project/source/stylesheets/styles.sass */
a:hover, a:focus {
  color: #000000; }

/* line 25, /Users/cjslade/Dev/www/artursabirov.project/source/stylesheets/styles.sass */
h2 {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 26px; }

/* line 30, /Users/cjslade/Dev/www/artursabirov.project/source/stylesheets/styles.sass */
article {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

/* line 35, /Users/cjslade/Dev/www/artursabirov.project/source/stylesheets/styles.sass */
section {
  width: 660px;
  max-width: 100%;
  margin: 0 auto 50px auto; }

/* line 40, /Users/cjslade/Dev/www/artursabirov.project/source/stylesheets/styles.sass */
.hello {
  font-size: 30px;
  text-align: center; }

/* line 44, /Users/cjslade/Dev/www/artursabirov.project/source/stylesheets/styles.sass */
.about {
  font-size: 23px; }
